.header-container {
  position: relative;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
  margin: 2rem;
}
/* menu dekstop */
.menu-burger {
  z-index: 1;
  box-shadow: 0px 2px 0px #cccccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 6rem;
  background-color: #ffffff;
  color: black;
}

.menu-links {
  display: flex;
  color: black;
}
.menu-links img {
  display: none;
}
.menu-link {
  padding: 0 0.3rem;
  color: inherit;
}

.menu-burger hide-nav {
  justify-content: space-evenly;
}
.nav-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  margin-top: 10px;
  display: none;
}

.menu-logo {
  display: flex;
  background-color: #f9f9f9;
  z-index: 1;
  padding: 1rem;

  margin-top: -0.5rem;
}

.logo1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo1 img {
  width: 6rem;
  height: 6rem;
}

.titre-home {
  display: none;
}

/* menu mobile */
@media screen and (max-width: 767px) {
  a {
    color: white;
  }
  .menu-links {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 91%;
    padding: 2rem;
    visibility: hidden;
    background: rgba(44, 47, 51, 0.6);
  }

  .menu-burger {
    justify-content: space-between;
    min-height: 0;
  }

  .menu-links img {
    width: 3rem;
    display: flex;
  }

  .menu-logo {
    height: 5.5rem;
    width: 100%;
    justify-content: space-between;
  }
  .logo1 {
    display: none;
  }

  .menu-items {
    display: flex;
    align-items: center;
    margin: 1rem;
  }

  .show-nav .menu-links {
    width: 60vw;
    right: 0;
    visibility: visible;
  }
  .menu-link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
    color: #f9f9f9;
  }

  .nav-burger {
    display: block;
  }
  .nav-burger:hover {
    cursor: pointer;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }
  /* fermeture menu burger */
  .show-nav .burger-bar {
    background: transparent;
  }
  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }
  .titre-home {
    color: black;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
