@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$white: #ffff;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
