.carouselDiv {
  padding-top: 15px;
}

.carouselTitle {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
}

.slick-slide img {
  width: 100%;
  height: 100%;
}
.card {
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-width: fit-content;
  display: flex;
  align-items: center;
}

.carousel {
  margin-top: 0px;
  margin-bottom: 10px;
}
.nouv {
  max-width: 100%;
  border-radius: 8px;
  -webkit-box-reflect: below 2px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: fit-content;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .imgCarousel {
    width: 100vw;
  }
}
