.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.team-image {
  width: 20%;
  /* border-radius: 50%; */
  clip-path: ellipse(50% 40%);
}
.team-body {
  width: 60%;
}

@media (max-width: 600px) {
  .team-container {
    margin-top: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .team-body {
    width: 90%;
  }
  .team-image {
    margin-top: 70px;
    width: 20%;
    /* border-radius: 50%; */
    clip-path: ellipse(50% 40%);
  }
}
