@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;500&display=swap");
:root {
  /* Main colors */

  --primary-color: #21492b;
  --second-color: #2c2f33;
  --third-color: #f58348;
  --white: #ffffff;
  --light-grey: #f9f9f9;
  --purple-color: #68324c;
}
.App {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  /* z-index: -2; */
  padding: 90px 0px;
  background-image: url("./assets/pictures/backgroundadmin.png");
  /* width: 100%;
  height: 120vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-home {
  /* z-index: -2; */
  padding: 25px 0px;
  background-image: url("./assets/pictures/backgroundadmin.png");
  width: 100%;
  height: 190vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panierTitle {
  display: flex;
  justify-content: center;
  padding: 30px 0px 10px 0px;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.spanLine {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
  height: 1px;
  background-color: #2c2f33;
}
