.container {
  margin: 0px auto;
  width: 70%;
  height: auto;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 50px 0px;
}
.logo-position {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.logo-property {
  margin: 0 auto;
  width: 160px;
  height: 150px;
  left: 617px;
  top: 223px;
  background: $white;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.introduction {
  h1 {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 39px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #ffff;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  }
  p {
    font-family: "Montserrat";
    margin: 0 auto;
    font-style: normal;
    width: 60%;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #ffff;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.form {
  padding-bottom: 20px;

  input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-left: 10px;
    font-family: "Monserrat", sans-serif;
    color: $black;
    font-size: 0.9rem;
    width: 80%;
    height: 45px;
    border: none;
    left: 298px;
    top: 810px;
    background: #ffff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    &::placeholder {
      padding-left: 2px;
      font-family: "Montserrat", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: rgba(44, 47, 51, 0.6);
      text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  label {
    margin-left: 105px;
    color: $white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

    a {
      color: #ffff;
      transition: 1s;

      &:hover {
        color: #f58348;
        transition: 1s;
      }
    }
  }
  .lostpassword {
    float: right;
    margin-right: 105px;
    text-decoration-line: underline;
  }

  .login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    margin: 0 auto;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: $black;
    background: #f9f9f9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 35%;
    border: none;
    height: 45px;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
      transition: 1s;
      color: #f58348;
    }
  }
}
