.position-admin--editor {
  display: flex;
  justify-content: center;
}

.background-texteditor {
  margin-top: -740px;
  margin-left: 170px;
  height: 700px;
  width: 1200px;
  box-shadow: 0 8px 32px 0 rgba(253, 253, 253, 0.37);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0px 50px 50px 0px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 50px 0px;
}
.texteditor {
  position: absolute;
  top: 30%;
  right: 20%;
  width: 700px;
  height: auto;
}
