.team-container {
  display: flex;
  justify-content: space-around;
}

.team-input-text {
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 4px;
  height: 190px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.update-team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.update-sup-container-team {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
}

.update-text-team {
  color: white;
  flex-direction: column;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
}

.update-selector-team {
  width: 420px;
  border-radius: 10px;
  height: 30px;
  border: none;
  margin: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.upload-container-team {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  width: 40%;

  label {
    color: $white;
    flex-direction: column;
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-right: 15px;
  }

  input {
    border-radius: 10px;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    &:focus {
      outline: none;
    }
  }
  select {
    border-radius: 10px;
    margin-top: 15px;
    height: 30px;
    color: $black;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    background: $black;
    width: 250px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    transition: 1s;

    &:hover {
      transition: 1s;
      transform: scale(1.05);
    }
  }
}
