

  .amap-container{
    margin-left: 5%;
    margin-right: 5%;
  }

  .amapTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 3px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .amap-main-title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 3px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 25px;
  }

  .body-amap-1{
    margin: 0px 2px 15px 2px;
    text-align: justify;
    text-align-last: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .body-amap-2{
    margin: 0px 2px 15px 2px;
    text-align: justify;
    text-align-last: center;
    padding-top: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .image-amap-wrapper{
    display: flex;
  }

  .imageAmapSecond{
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .imageAmapFourth{
    width: 100%;
    margin: 10px 0px 10px 0px;
  }

  .body-amap-5{
    margin: 0px 2px 15px 2px;
    padding-top: 10px;
    text-align: justify;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .body-amap-3{
    margin: 0px 2px 10px 2px;
    padding-top: 10px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .image-amap-wrapper{
    width: 100%;
  }

  .body-amap-4{
    margin: 0px 2px 10px 2px;
    padding-top: 10px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }




  @media screen and (min-width: 1000px) {



  .amapTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 3px;
    // align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .amap-main-title {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 3px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .body-amap-1 {
    margin : 10px 85px 25px 85px;
    text-align: justify;
    text-align-last: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .body-amap-2 {
    margin : 10px 85px 25px 85px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 40px
  }

  .body-amap-3 {
    margin : 10px 85px 45px 85px;
    text-align: justify;
    text-align-last: center;
    padding-top: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .body-amap-4 {
    margin : 10px 85px 25px 85px;
    text-align: justify;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
  }

  .body-amap-5 {
    margin : 10px 85px 25px 85px;
    // text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 40px
  }

  .Amap-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 30px;
    margin-bottom: 45px;
    align-items: center;
  }

  .imageAmapSecond{
    width: 80%;
  }

  .imageAmapFourth{
    width: 70%;
    margin-bottom: 40px;
  }
  .amap-grid-1{
    grid-area: 1 / 1 / 2 / 2;
  }

  .amap-grid-2{
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    text-align: center;
  }

  .amap-grid-3{
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    text-align: center;
  }
  
  .amap-grid-4{
    grid-area: 2 / 2 / 3 / 3;
  }

  .image-amap-wrapper{
    justify-content: space-around;
  }


    
    

  }
  

