.modal-close-button {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffff;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: 1s;

  &:hover {
    transition: 1s;
    transform: scale(1.1);
  }
}

button.modal-toggle {
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
}

.modal-button-preorder {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  height: 50px;
  text-decoration: underline;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: 1s;
}

.button-modal-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .modal-close-button {
    // margin-top: 15px;
    // margin-right: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffff;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: none;

    &:hover {
      transition: none;
      transform: none;
    }
  }

  button.modal-toggle {
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
  }

  .modal-button-preorder {
    font-family: "Montserrat", sans-serif;
    width: 250px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: 1s;

    &:hover {
      transition: 1s;
      transform: scale(1.05);
    }
  }

  .button-modal-container {
    margin-top: 95px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
  }
}
