.text-editor {
  background: $white;
}
.button-container--adminhome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-admin-choice {
  background: $red;
  margin-top: 25px;
  width: 150px;
  margin-bottom: 25px;
  margin-left: 25px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  animation: pulse 2s infinite;
  transition: 800ms;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.05);
    transition: 1s;
  }
}
.button-admin-choice-disable {
  background: $black;
  margin-top: 25px;
  width: 150px;
  margin-bottom: 25px;
  margin-left: 25px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: 800ms;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.05);
    transition: 1s;
  }
}
.editor-btn {
  background: $red;
  margin-top: 25px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: 1s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.05);
    transition: 1s;
  }
}
