.team-container {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 12px;

  align-items: center;
}
.container-image-propos {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-left: 3em;

  p {
    @include shadows;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 250px;
    background: rgba(44, 47, 51, 0.6);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    backdrop-filter: blur(30px);
    border-radius: 25px;
  }
}

#buttonshowmore {
  display: none;
}

.container--paragraphe-propos{
  margin-top: -30px
}

.team-image {
  @include shadows;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}
.team-body {
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 35px;
}
.teamtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
  letter-spacing: 3px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 25px;
}
.spanLine {
  margin-top: 2px;
  width: 90px;
  height: 1px;
  background-color: #2c2f33;
}

.team-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {

  #buttonshowmore {
    align-self: flex-end;
    display: flex;
    border: solid 2px #2c2f33;
    color: #2c2f33;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .team-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .teamtitle {
    // nice
    margin-top: 69px;
  }
  .team-body {
    margin: 20px 0px 20px 0px;
    width: 90%;
  }
  .team-image {
    margin: 20px 0 0px 0;
    box-shadow: 5px 10px 30px rgb(0 0 0 / 25%);
    width: 50%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .container-image-propos {
    position: inherit;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
    margin-left: 0px;

    p {
      @include shadows;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      background: rgba(44, 47, 51, 0.6);
      font-family: "Montserrat", sans-serif;
      letter-spacing: 1px;
      font-weight: 400;
      backdrop-filter: blur(30px);
      border-radius: 25px;
    }
  }
}
